#email{
    width: 320px;
    height: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 1px;
}
.reg{
    width: 410px;
    height: 280px;
    background-color: #0099cc;
    border-style: solid;
    border-width: 2px;
    border-color: #006699;
    color: #ffffff;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 20px;
}
hr{
  width:407px;
}
h2{
  margin: 20px;
}
#password{
    width: 150px;
    height: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 1px;
    float: left;
}
#again{
    width: 150px;
    height: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 1px;
}
.pass{
  display: inline-block;
  width: 100%;
}
button{
  margin-left: 20px;
  background-color: #ffdf7f;
}