   body {background: #333;}
   div {
    background: repeating-linear-gradient(to bottom, transparent, transparent 20px,
    #333 20px, #333 23px), linear-gradient(to bottom, #ffd059, #ff8c00);
    width: 40px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    vertical-align: bottom;
    }
   .st1 {
     height: 115px;
     }
   .st2 {
     height: 45px;
     }
   .st3 {
     height: 183px;
     }
   .st4 {
     height: 205px;
     }
   .st5 {
     height: 112px;
     }
   .st6 {
     height: 67px;
     }